.banner
{
background-color:darkcyan;
height:200px;
width:100%;
margin-bottom:30px;
}
.banner-text
{
top:120px;
left:45%;
position:absolute;
transform:transform;}

body
{background-color:lightgray;
font-size:20px;
}
